<html>
	<head>
		<style>
			@font-face {
				font-family: BebasNeue;
				src: url(../Fonts/BebasNeue.otf);
			}
			body {
			    background-color: white;
			    margin: 0px;
			    padding: 0px;
			    color: white;
			    font-family: BebasNeue;
			}
			div {
				padding: 0px;
				margin: 0px;
			}
			table, tr, td {
				padding: 0;
				margin: 0;
				border: 0 solid #000;
				border-spacing: 0;
    			border-collapse: collapse;
    			vertical-align: middle;
    			text-align: center;
			}
			.main-container {
				background-image: url("{{ background_image }}");
				width: 1200px;
				height: 900px;
				display: table;
			}
			.logos-row-container,
			.logo-params-rows-divider,
			.param-row-container {
		        width: 100%;
		        overflow: auto;
		        display: table-row;
		    }
		    .vs {
		        overflow: auto;
		        padding-top: 100px;
			    text-align: center;
				font-size: 75px;
				color: #fff;
				text-shadow: 0 0 1px #000000, 0 0 15px #000000;
		    }
		</style>
	</head>
	<body>
		{% for param in params %}
		<div class="vs" style="position: absolute; width: 1200px; top: {{ param.index * 120 + 190 }}px; font-size: 40px;">{{ param.name }}</div>
		{% endfor %}
	    <div class="main-container">
	    	<table style="width: 100%;">
	    		<tr style="height: 20px;">
	    			<td>&nbsp;</td>
	    		</tr>
	    		<tr style="height: 280px;">
	    			<td>
		    			<table style="width: 100%; height: 280px;">
		    				<tr>
		    					<td style="width: 585px; padding-left: 180px;">
		    						<img src="../Images/{{ league_name }}/{{ home_team_name }}" class="logo-left-image">
		    					</td>
		    					<td style="width: 30px;">
						            <div class="vs">
						                VS
						            </div>
		    					</td>
		    					<td style="width: 585px; padding-right: 180px;">
		    						<img src="../Images/{{ league_name }}/{{ away_team_name }}" class="logo-right-image">
		    					</td>
		    				</tr>
		    			</table>
	    			</td>
	    		</tr>
	    		<tr style="height: 600px;">
	    			<td>
		    			<table style="width: 100%; height: 600px;">
		    				{% for param in params %}
		    				<tr style="height: 90px;">
		    					<td>
		    						<center>
		    						<table>
		    							<tr>
		    								<td>
		    									<div style="border-radius: 15px; background-color: #f44; width: 70px; height: 70px; vertical-align: middle; text-align: center; font-size: 50px; line-height: 70px;">
		    										{{ param.left_value }}
		    									</div>
		    								</td>
		    								<td>
												<div style="background-color: #f44; width: {{ param.left_ratio * 900 }}px; height: 35px; vertical-align: middle; text-align: center;">
													&nbsp;
												</div>
		    								</td>
		    								<td>
												<div style="width: 32px; height: 35px; vertical-align: middle; text-align: center;">
													&nbsp;
												</div>
		    								</td>
		    								<td>
												<div style="background-color: #44c; width: {{ param.right_ratio * 900 }}px; height: 35px; vertical-align: middle; text-align: center;">
													&nbsp;
												</div>
		    								</td>
		    								<td>
		    									<div style="border-radius: 15px; background-color: #44c; width: 70px; height: 70px; vertical-align: middle; text-align: center; font-size: 50px;  line-height: 70px;">
		    										{{ param.right_value }}
		    									</div>
		    								</td>
		    							</tr>
		    						</table>
		    						</center>
		    					</td>
		    				</tr>
		    				{% endfor %}
		    			</table>
	    			</td>
	    		</tr>
	    	</table>
	    </div>
	</body>
</html>