<html>
	<body>
	    <div class="main-containter">
	        <div class="top-row-container">
	        </div>
	        <div class="logos-row-container">
	            <div class="logo-left">
	                <img src="{{ logoleft }}" class="logo-left-image">
	            </div>
	            <div class="vs">
	                VS
	            <div class="logo-right">
	                <img src="{{ logoright }}" class="logo-right-image">
	            </div>
	        </div>
	        <!-- loop 5 -->
	        <div class="param-row-container">
	            <div class="param-name-holder">
	                {{ paramname }}
	            </div>
	            <div class="paramleftnumber">
	                {{ paramvalueleft }}
	            </div>
	            <div class="param-bar-container">
	                <div class="param-bar-left" style="width: {{ parambarwidthleft }} px;">
	                </div>
	                <div class="param-bar-center">
	                </div>
	                <div class="param-bar-right" style="width: {{ parambarwidthright }} px;">
	                </div>
	            </div>
	            <div class="param-right-number">
	                {{ paramvalueright }}
	            </div>
	        </div>
	        <div class="bottom-row-container">
	        </div>
	    </div>
	</body>
</html>